body {


}


/* --------------------------


font-family: 'Anton', sans-serif;
font-family: 'Fascinate Inline', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'Cutive Mono', monospace;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Nova Mono', monospace;

  -------------------------*/

.logo-fashion {

  font-family: 'Fascinate Inline', cursive;
}

.menu-text-style {

  font-family: 'Cutive Mono', monospace;
  cursor: pointer;

}

.large-mini-banner {

   background-image: url(../img/summer-model.jpg);
   background-size: cover;
   height: 50rem;
   width: auto;


}

.jumbotron-fluid {
    margin-bottom: auto;

}

.title-padding {
    height: inherit;
    font-family: 'Fascinate Inline', cursive;
    /*background-color: #dc3545 ;*/
    background-color: #000000 ;

}

.title-style {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: auto;


}

.trends-title-text {
   font-family: 'Fascinate Inline', cursive;
   margin-top: 2rem;

}

.small-circle-banner {
    height: 15rem;
    width: auto;
}

.banner-spotlet-text {

  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 25rem;
  font-family: 'Cutive Mono', sans-serif;

}

.bg-style-diagnol {

  /*background-color: #dc3545 ;*/
  background: linear-gradient(to right bottom, #000000 50%, #ffffff 50%);

}

.mini-banner-container {

  display: flex;
  text-align: center;


}

.mini-mini-banner {

  height: 15rem;
  display: flex;
  align-self: center;
  justify-content: center;

}

.container-card-styles {

   padding-bottom: 4rem;
   padding-top: 4rem;

}

.autumn-card {
  background-image: url(../img/out-doors.jpg);
  background-size: cover;
  height: 30rem;
  width: auto;
  opacity: 1;

}

.accessory-card {
  background-image: url(../img/male-model.jpg);
  background-size: cover;
  height: 30rem;
  width: auto;
  opacity: 1;

}

.modern-card {
  background-image: url(../img/sam-model.jpg);
  background-size: cover;
  height: 30rem;
  width: auto;
  opacity: 1;

}

.men-card {
  background-image: url(../img/jeans-ac.jpg);
  background-size: cover;
  height: 30rem;
  width: auto;
  opacity: 1;

}

.women-card {
  background-image: url(../img/lafem-model.jpg);
  background-size: cover;
  height: 30rem;
  width: auto;
  opacity: 1;

}

.summer-card {
  background-image: url(../img/summer-model.jpg);
  background-size: cover;
  height: 30rem;
  width: auto;
  opacity: 1;

}

.modern-spotlight-banner {

  background-image: url(../img/po-fashion.jpg);
  background-size: cover;
  height: 45rem;
  width: 100%;
  margin-bottom: 5rem;

}

.modern-spotlight-headline-styles {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Cutive Mono', sans-serif;

}

.modern-spotlight-styles {
   margin-bottom: 8rem;
}

.card-image-style {
    opacity: 1;
}

.card-image-style:hover {

   /*opacity: 0.4;*/

}

.card-button-styles {
    font-family: 'Cutive Mono', monospace;
    font-size: 1.4rem;

}

.card-padding-style {
    margin-bottom: 4rem;
    border-radius: 0px 0px 0px 0px;

}


.learn-more-btn {

  font-family: 'Cutive Mono', sans-serif;
  font-size: 1.2rem;
}


.footer-container {

    height: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.footer-links, a{

    text-decoration: none;
    list-style: none;
    /*font-family: 'Cutive Mono', monospace;*/
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.6rem;

}
