body {


}


/*  -------------
font-family: 'Anton', sans-serif;
font-family: 'Fascinate Inline', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'Cutive Mono', monospace;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Nova Mono', monospace;

     ------------*/


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.8s;
    z-index: 9000000;

}

.my-3 {
   border-top: 2px;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
}

.overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 5rem;
    color: #818181;
    display: block;
    transition: 0.8s;
}

.overlay a:hover, .overlay a:focus {
    color: #ffffff;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
